<<<<<<< HEAD
body
{
	font-family: Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #3f3f3f;
	box-sizing: border-box;
}

.container
{
	width:75%;
	margin:auto;
	/*max-width: 1200px;*/
	background-color: #fff;
}
header 
{
	background-color: #E9E9E9;
	padding: 40px 25px;
}
img
{
	max-width:250px;
	max-height:250px;
	width: auto;
	height: auto;
}


/**/
=======
body
{
	font-family: Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #3f3f3f;
	box-sizing: border-box;
}

.container
{
	width:75%;
	margin:auto;
	/*max-width: 1200px;*/
	background-color: #fff;
}
header 
{
	background-color: #E9E9E9;
	padding: 40px 25px;
}
img
{
	max-width:250px;
	max-height:250px;
	width: auto;
	height: auto;
}


>>>>>>> bb2b9a668458718c036953ae6a6c1d3ed2b61c0e
