html, body
{
	background-color:black;
	color:white;
	padding:0;
	margin:0;
}
body
{
	text-align:center;
}
#jackolantern
{
	width:150px;
}

.img250
{
	width:250px;
}

header, footer
{
	background-color:hsl(23,88%,53%);
}

section
{
	/*text-align:center;*/
	background-color:hsl(23,88%,53%, 0.7);
	
	
}

h2
{
	font-family: 'Creepster', cursive;
	letter-spacing:5px;
}

header
{
	font-size:2em;
}


nav ul
{
	list-style-type:none;
}

nav ul li
{
	width:25%;
	float:left;
}


a:link
{
	color:#ffffff;
}

a:visited
{
	color:#c5c5c5;
}

a:hover, a:focus
{
	color:orange;
}

#jackolantern
{
	width:250px;
	float:left;
}
footer
{
	clear:both;
}

.clearfix:after
{
	clear:both;
	display:table;
	content:"";
}

nav
{
	background-color:hsl(23,88%,53%, 0.7);
	height:50px;
	padding-top:1px;
}

header h1, header h2, header h3, header h4, header h5, header h6, footer, section p:last-of-type
{
	margin:0px;
	padding:16.7px;
}

body > header:first-of-type
{
	height: 90%; 
    width:100%;
    display:flex;
    align-items: center;
    /*justify-content: center;*/
}
body >div.content > header:first-of-type h1
{
	margin:0 auto;
}

#tipsDiv
{
	text-align:center;
}

#tips
{
	display:inline-block;
	text-align:left;
	max-width:500px;
}

div.content
{
	width:75%;
	margin:0 auto;
}