/*Laptop Styles*/
#col-1, #col-2
{
	width:45%;
}

#col-3
{
	width:100%;
}



/*Tablet Styles*/
@media only screen and (max-width:800px)
{
	#main-content
	{
		width:100%;
		float:none;
	}
	
	.sidebar
	{
		float:none;
		width:100%;
	}
}




/*Mobile Styles*/
@media only screen and (max-width:600px)
{
	#col-1, #col-2, #col-3
	{
		width:100%;
		float:none;
	}
	
	#sidebar2
	{
		display:none;
	}
}